<div class="container">
    <div class="xbox">
          <center><h1>Lab 24</h1></center><br>
        	<br>
          <div id="map"></div>
      <br><br><hr>
      <h2>Preguntas a Responder: </h2><br>
      <B><p>¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros? </p></B>
      <div class="answer">
        
        <p>Las ventajas pueden ser el ahorrar mucho tiempo en la parte de implementacion además de ser más seguro utilizar una  API, al ser mas confiable por ser creada por empresas y personas reconocidad. La desventaja principal es el tener que depender de un tercero ya que no se puede tener el control completo de la API en caso de que exista algun error.</p>
      </div>
    </div>
</div>